body {
    background-color: #3e070c;
    font-family: "Motiva Sans",Arial,Helvetica,sans-serif;
}
.achievement-row {
    margin-bottom: 20px;
}
.achievement-pic-holder-left {
    float: left;
    width: 100px;
    height: 100px;
    padding-right: 10px;
}
.achievement-pic-holder-right {
    float: right;
    width: 100px;
    height: 100px;
    padding-left: 10px;
}
.achievement-pic {
    width: 100px;
    height: 100px;
}
.achievement-pic-locked {
    width: 100px;
    height: 100px;
    filter: grayscale(100%);
}
.achievement-text {
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid black;
    color: #FFFFFF;
    min-height: 96px;
    padding: 1px;
    overflow: hidden;
}
h3{ 
    font-size: 30px;
    margin: 20px 20px 10px 20px;
}
h5{
    font-size: 15px;
    font-weight: normal;
    font-style: italic;
    color:#c2c2c2;
    margin: 10px 20px 5px 20px;
}

@keyframes rainbowAnimation{
    0% {
        color: #F00;
    }
    16.7% {
        color: #FF0;
    }
    33.3% {
        color: #0F0;
    }
    50% {
        color: #0FF;
    }
    66.7% {
        color: #00F;
    }
    84.4% {
        color: #F0F;
    }
    100% {
        color: #F00;
    }
}

.rainbow {
    animation-name: rainbowAnimation;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.rainbow:hover{
    animation-duration: 2s;
}

@keyframes fireAnimation {
0% { color: #FF8800; } 
3% { color: #FF6D00; } 
7% { color: #FF7700; } 
12% { color: #FFB300; } 
16% { color: #FFA500; } 
21% { color: #FF7200; } 
28% { color: #FFA400; } 
33% { color: #FF6100; } 
36% { color: #FFA400; } 
41% { color: #FFA500; } 
49% { color: #FF7500; } 
53% { color: #FF7700; } 
55% { color: #FF5700; } 
60% { color: #FF2B00; } 
66% { color: #FF3800; } 
73% { color: #FF6B00; } 
76% { color: #FF3400; } 
83% { color: #FF7700; } 
89% { color: #FF3C00; } 
92% { color: #FF2400; } 
95% { color: #FF5C00; } 
100% { color: #FF8800; } 
}

.fire {
    animation-name: fireAnimation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
}